<ion-header>
  <ion-toolbar>
    <ion-title>
      List produk
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>
      Kacamata
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      Soflens
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      Jam
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      Lensa
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-button expand="block" fill="outline">LOGOUT</ion-button>
</ion-content>