<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>AyoSHOPING</ion-card-subtitle>
      <ion-card-title>Welcome to AyoSHOPING</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>BURUAN!! Banyak penawaran menarik dengan harga murah.</p>
    </ion-card-content>
  </ion-card>
</ion-content>